@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  background-color: grey;
  width: 5px;
  border-radius: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #333;
  border-radius: 10px;
  border: 2px solid grey;
}

.section-style{
  @apply col-span-4 h-screen overflow-y-auto text-white bg-zinc-900 p-5
}